body{
    background-color: lightgray;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    color: blueviolet;
	margin: 2rem 0rem;
}

.form-control, .btn{
    font-size: 1.5rem;
}

.btn{
    background-color: blueviolet;
    color: white;
    padding: 0rem 2.5rem;
}

.answer{
    font-size: 2rem;
    color: blueviolet;
}